body {padding: 20px; background-color: beige;}
input {margin-bottom: 5px; padding: 2px 3px; width: 209px;}
td, th {padding: 40px; border: 1px rgb(167, 20, 20) solid; width: 100px;}
select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: none;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 5px;
    -webkit-user-select: none;
    background-image: url(/static/images/select-arrow2.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-color: none;
    border: none;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

